:root {
  --content-width: 880px;
  scroll-behavior: smooth;
}
.home .hero img {
  max-height: 360px;
}
@media (max-width: 480px) {
  .home .hero img {
    max-height: 260px;
  }
}
.home .hero img, .navbar .logo {
  border-radius: 50%;
}
.home .hero h1 {
  font-size: 4rem;
  font-weight: 700;
}
.home .hero .description {
  font-weight: 600;
}
.home .hero h1, .home .hero .description {
  background: linear-gradient(to right, #2cecff 21%, #ff0031 92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar {
  opacity: 0.9;
}
.home .hero .action-button.primary {
  border: none;
  background: linear-gradient(to right, #2cecff 21%, #ff0031 92%);
}