:root {
  --content-width: 880px;
  scroll-behavior: smooth;
}
.home .hero img {
  max-height: 360px;
}
@media (max-width: 480px) {
  .home .hero img {
    max-height: 260px;
  }
}
.home .hero img, .navbar .logo {
  border-radius: 50%;
}
.navbar {
  opacity: 0.9;
}